.btn-primary {
    background-color: #E67E22 !important; /* Warm Orange */
    border: none;
    font-weight: bold;
    color: white;
    transition: 0.3s;
  }
  
  .btn-primary:hover {
    background-color: #D35400 !important; /* Darker Orange */
  }